<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Record information</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/" role="button"> Go back to the main page </a></li>
        </ul>
      </nav>
      <h1>{{record.name}}</h1>
      <p>Full name: <b>{{record.name}}</b></p>
      <p>Phone: <b>{{record.phone}}</b></p>
      <p>Email: <b>{{record.email}}</b></p>
      <p>Adress: <b>{{record.adress}}</b></p>
      <p>Time of creation: <kbd>{{record.created.date()}}</kbd></p>
    </main>
  </body>
</html>
