<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/record/" role="button">Add Contact</a></li>
          <li><a href="/note/" role="button">Add Note</a></li>
          <li><a href="/tag/" role="button">Add Tag</a></li>
        </ul>

      </nav>
      <h1>Contacts</h1>
      {% for record in records%}
      <ul>
        <li>
          <a href="/detail/{{record.id}}" role="button" class="outline">{{record.name}}</a>
          <a href="/update/{{record.id}}" role="button">Update Contact</a>
          <a href="/delete_rec/{{record.id}}" role="button" class="contrast">Delete Contact</a>
        </li>
      </ul>
      {% endfor %}
      <h1>Notes</h1>
      {% for note in notes%}
      <ul>
         <li>
          {%if not note.done%}
          <a href="/note_detail/{{note.id}}" role="button" class="outline">{{note.name}}</a>
          <a href="/done/{{note.id}}" role="button">Mark Done</a>
          <a href="/delete/{{note.id}}" role="button" class="contrast">Delete Note</a>
          {% else %}
          <a href="/note_detail/{{note.id}}" role="button" class="secondary"><s>{{note.name}}</s></a>
          <a href="/delete/{{note.id}}" role="button" class="contrast">Delete note</a>
          {% endif %}
        </li>
      </ul>
      {% endfor %}
    </main>
  </body>
</html>
